In this notebook we apply hard SVM with Gaussian kernel using 
Titanic example. We first read the data,

In [19]:
import numpy as np
import pandas as pd

df = pd.read_csv('/Users/chihchichou/Documents/cs/Machine_Learning/ML/SVM/train.csv')

#not sure Cabin is that relevent
df = df.drop(['Name', 'Ticket', 'Cabin'], axis = 1)

#male = 1, female = 0
df['Sex'] = np.where(df['Sex']=='male', 1, 0)

'''
embarked        Port of Embarkation
(C = Cherbourg; Q = Queenstown; S = Southampton)
C = 0, Q = 1, S= 2
'''
df = df.replace('C', 0)
df = df.replace('Q', 1)
df = df.replace('S', 2)

#drop all rows with NAN
df = df.dropna()

#translate Survived into 1 and -1
#which is required by my logistic regression
df['Survived'] = np.where(df['Survived']== 0, -1, 1)

#y value, dependent variable
y = df['Survived']

#x value, independent varialbe
x = df.drop(['Survived', 'PassengerId'], axis = 1)

Now all data will be numerical, as we can check as the following.

In [20]:
df.head()

   PassengerId  Survived  Pclass  Sex  Age  SibSp  Parch     Fare  Embarked
0            1        -1       3    1   22      1      0   7.2500         2
1            2         1       1    0   38      1      0  71.2833         0
2            3         1       3    0   26      0      0   7.9250         2
3            4         1       1    0   35      1      0  53.1000         2
4            5        -1       3    1   35      0      0   8.0500         2

Translate x, and y into np.array

In [21]:
x = np.array(x)

x[0]

array([  3.  ,   1.  ,  22.  ,   1.  ,   0.  ,   7.25,   2.  ])

In [ ]:
def Gaussian_kernel()